<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RESUMES</title>
  </head>
  <body>
    <h1>RESUMES GENERATED</h1>
    <ul class="row">
      <li ng-repeat="resume in resumes" style="width: 90%">
        <ul>
          <li style="border: 2px solid gray">Name: {{ resume.name }}</li>
          <li style="border: 2px solid gray">Email ID: {{ resume.email }}</li>
          <li style="border: 2px solid gray">Phone No: {{ resume.number }}</li>
          <li style="border: 2px solid gray">
            College Name: {{ resume.collegeName }}
          </li>
          <li style="border: 2px solid gray">
            Location: {{ resume.location }}
          </li>
          <li style="border: 2px solid gray">C.G.P.A: {{ resume.cgpa }}</li>
          <li style="border: 2px solid gray">
            Passing Year: {{ resume.passingYear }}
          </li>
          <li style="border: 2px solid gray">Skills: {{ resume.skills }}</li>
        </ul>
        <div style="gap: 10px; display: flex; flex-direction: column">
          <div style="display: flex">
            <button
              ng-click="editResume(resume)"
              style="width: 250px; margin: 0 auto"
            >
              Edit
            </button>
            <button
              ng-click="deleteResume(resume._id)"
              style="background-color: red; width: 250px; margin: 0 auto"
            >
              Delete
            </button>
          </div>
          <button
            ng-click="generatePDF(resume)"
            style="background-color: green; width: 560px; margin: 0 auto; font-weight: semibold; font-size: 1.4rem;"
          >
            Download Resume
          </button>
        </div>
      </li>
    </ul>

    <div ng-show="editingResume">
      <h2>Edit Resume</h2>
      <form ng-submit="updateResume()">
        <input type="text" ng-model="editingResume.name" required />
        <input type="text" ng-model="editingResume.email" required />
        <input type="number" ng-model="editingResume.number" required />
        <input type="text" ng-model="editingResume.collegeName" required />
        <input type="text" ng-model="editingResume.location" required />
        <input type="number" ng-model="editingResume.cgpa" required />
        <input type="number" ng-model="editingResume.passingYear" required />
        <input type="text" ng-model="editingResume.skills" required />
        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
