body {
  font-family: "Arial", sans-serif;
  background-image: url(images/food.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff; 
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0;
}

h1 {
  color: #93c9dc; 
  font-family: "Cursive", sans-serif;
  font-size: 3em;
}

h2 {
  color: #00bfff;
}

form {
  max-width: 600px; 
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

input[type="text"],
input[type="number"],
button {
  width: calc(100% - 24px); 
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  display: block;
}

input[type="text"],
input[type="number"] {
  background-color: rgba(255, 255, 255, 0.1); 
  color: #ffffff;
}

button {
  background-color: #000000; 
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #000080;
}

.card {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(0, 0, 0, 0.5); 
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

li button {
  background-color: #4169e1; 
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #0000cd; 
}
