<nav class="navbar navbar-expand-lg navbar-light bg-light header">
  <a class="navbar-brand" href="#">Resume Generator</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/templates">TEMPLATE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/generate">GENERATE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/resumes">RESUMES</a>
      </li>
    </ul>
  </div>
</nav>

<form [formGroup]="resumeForm" (ngSubmit)="onSubmit()" class="px-6 md:px-16">
  <!-- Personal Details -->
  <h3 class="mt-8 font-bold text-3xl">PERSONAL DETAILS</h3>
  <div formGroupName="personalDetails" class="border border-gray-600 p-4">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" formControlName="name" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="linkedIn">LinkedIn:</label>
      <input type="text" class="form-control" formControlName="linkedIn" />
    </div>
    <div class="form-group">
      <label for="github">Github:</label>
      <input type="text" class="form-control" formControlName="github" />
    </div>
    <div class="form-group">
      <label for="shortIntro">Short Intro:</label>
      <input type="text" class="form-control" formControlName="shortIntro" />
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" class="form-control" formControlName="address" />
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input
        type="text"
        class="form-control"
        formControlName="phoneNumber"
        pattern="[0-9]*"
      />
    </div>
  </div>

  <!-- Skills Section -->
  <h3 class="mt-8 font-bold text-3xl">SKILLS SECTION</h3>
  <div formArrayName="skills" class="border border-gray-600 p-4">
    <div *ngFor="let skill of skills.controls; let i = index">
      <div class="form-group">
        <label for="skill{{ i }}">Skill {{ i + 1 }}:</label>
        <input
          type="text"
          class="form-control"
          [formControlName]="i"
          required
        />
        <!-- Add validation for skills -->
      </div>
    </div>
    <button type="button" (click)="addSkillField()" class="btn btn-primary">
      Add Skill
    </button>
  </div>

  <h3 class="mt-8 font-bold text-3xl">EDUCATION</h3>
  <div formArrayName="educations">
    <div class="border border-gray-600 p-4 mb-6">
      <div class="form-group">
        <label for="collegeName0">College Name 1:</label>
        <input
          type="text"
          class="form-control"
          id="collegeName0"
          formControlName="0.collegeName"
          required
        />
        <!-- Validation for College Name -->
        <div
          *ngIf="
            educations.controls[0]?.get('collegeName')?.invalid &&
            educations.controls[0]?.get('collegeName')?.touched
          "
          class="text-danger"
        >
          College Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="universityName0">University Name 1:</label>
        <input
          type="text"
          class="form-control"
          id="universityName0"
          formControlName="0.universityName"
          required
        />
        <!-- Validation for University Name -->
        <div
          *ngIf="
            educations.controls[0]?.get('universityName')?.invalid &&
            educations.controls[0]?.get('universityName')?.touched
          "
          class="text-danger"
        >
          University Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="marksObtained0">Marks Obtained 1:</label>
        <input
          type="text"
          class="form-control"
          id="marksObtained0"
          formControlName="0.marksObtained"
          required
        />
        <!-- Validation for Marks Obtained -->
        <div
          *ngIf="
            educations.controls[0]?.get('marksObtained')?.invalid &&
            educations.controls[0]?.get('marksObtained')?.touched
          "
          class="text-danger"
        >
          Marks Obtained is required.
        </div>
      </div>
      <div class="form-group">
        <label for="shortInfo0">Any Short Info 1:</label>
        <input
          type="text"
          class="form-control"
          id="shortInfo0"
          formControlName="0.shortInfo"
          required
        />
        <!-- Validation for Short Info -->
        <div
          *ngIf="
            educations.controls[0]?.get('shortInfo')?.invalid &&
            educations.controls[0]?.get('shortInfo')?.touched
          "
          class="text-danger"
        >
          Short Info is required.
        </div>
      </div>
      <div class="form-group">
        <label for="year0">Year of college 1:</label>
        <input
          type="text"
          class="form-control"
          id="year0"
          formControlName="0.year"
          required
        />
        <!-- Validation for Year of College -->
        <div
          *ngIf="
            educations.controls[0]?.get('year')?.invalid &&
            educations.controls[0]?.get('year')?.touched
          "
          class="text-danger"
        >
          Year of College is required.
        </div>
      </div>
    </div>

    <!-- Second Education Box -->
    <div class="border border-gray-600 p-4">
      <div class="form-group">
        <label for="collegeName1">College Name 2:</label>
        <input
          type="text"
          class="form-control"
          id="collegeName1"
          formControlName="1.collegeName"
          required
        />
        <!-- Validation for College Name -->
        <div
          *ngIf="
            educations.controls[1]?.get('collegeName')?.invalid &&
            educations.controls[1]?.get('collegeName')?.touched
          "
          class="text-danger"
        >
          College Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="universityName1">University Name 2:</label>
        <input
          type="text"
          class="form-control"
          id="universityName1"
          formControlName="1.universityName"
          required
        />
        <!-- Validation for University Name -->
        <div
          *ngIf="
            educations.controls[1]?.get('universityName')?.invalid &&
            educations.controls[1]?.get('universityName')?.touched
          "
          class="text-danger"
        >
          University Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="marksObtained1">Marks Obtained 2:</label>
        <input
          type="text"
          class="form-control"
          id="marksObtained1"
          formControlName="1.marksObtained"
          required
        />
        <!-- Validation for Marks Obtained -->
        <div
          *ngIf="
            educations.controls[1]?.get('marksObtained')?.invalid &&
            educations.controls[1]?.get('marksObtained')?.touched
          "
          class="text-danger"
        >
          Marks Obtained is required.
        </div>
      </div>
      <div class="form-group">
        <label for="shortInfo1">Any Short Info 2:</label>
        <input
          type="text"
          class="form-control"
          id="shortInfo1"
          formControlName="1.shortInfo"
          required
        />
        <!-- Validation for Short Info -->
        <div
          *ngIf="
            educations.controls[1]?.get('shortInfo')?.invalid &&
            educations.controls[1]?.get('shortInfo')?.touched
          "
          class="text-danger"
        >
          Short Info is required.
        </div>
      </div>
      <div class="form-group">
        <label for="year1">Year of college 2:</label>
        <input
          type="text"
          class="form-control"
          id="year1"
          formControlName="1.year"
          required
        />
        <!-- Validation for Year of College -->
        <div
          *ngIf="
            educations.controls[1]?.get('year')?.invalid &&
            educations.controls[1]?.get('year')?.touched
          "
          class="text-danger"
        >
          Year of College is required.
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Section -->
  <h3 class="mt-8 font-bold text-3xl">PROJECTS</h3>
  <div formArrayName="projects">
    <div class="border border-gray-600 p-4 mb-6">
      <!-- First Project Box -->
      <div class="form-group">
        <!-- Project Name -->
        <label for="projectName0">Project Name 1:</label>
        <input
          type="text"
          class="form-control"
          id="projectName0"
          formControlName="0.projectName"
          required
        />
        <!-- Validation for Project Name -->
        <div
          *ngIf="
            projects.controls[0]?.get('projectName')?.invalid &&
            projects.controls[0]?.get('projectName')?.touched
          "
          class="text-danger"
        >
          Project Name is required.
        </div>
      </div>
      <div class="form-group">
        <!-- Project Description -->
        <label for="projectDescription0">Project Description 1:</label>
        <input
          type="text"
          class="form-control"
          id="projectDescription0"
          formControlName="0.projectDescription"
          required
        />
        <!-- Validation for Project Description -->
        <div
          *ngIf="
            projects.controls[0]?.get('projectDescription')?.invalid &&
            projects.controls[0]?.get('projectDescription')?.touched
          "
          class="text-danger"
        >
          Project Description is required.
        </div>
      </div>
      <div class="form-group">
        <!-- Tech stack used -->
        <label for="techStack0">Tech stack used 1:</label>
        <input
          type="text"
          class="form-control"
          id="techStack0"
          formControlName="0.techStack"
          required
        />
        <!-- Validation for Tech stack used -->
        <div
          *ngIf="
            projects.controls[0]?.get('techStack')?.invalid &&
            projects.controls[0]?.get('techStack')?.touched
          "
          class="text-danger"
        >
          Tech stack used is required.
        </div>
      </div>
      <div class="form-group">
        <!-- Github Link -->
        <label for="githubLink0">Github Link 1:</label>
        <input
          type="text"
          class="form-control"
          id="githubLink0"
          formControlName="0.githubLink"
          required
        />
        <!-- Validation for Github Link -->
        <div
          *ngIf="
            projects.controls[0]?.get('githubLink')?.invalid &&
            projects.controls[0]?.get('githubLink')?.touched
          "
          class="text-danger"
        >
          Github Link is required.
        </div>
      </div>
    </div>

    <!-- Second Project Box -->
    <div class="border border-gray-600 p-4">
      <div class="form-group">
        <!-- Project Name -->
        <label for="projectName1">Project Name 2:</label>
        <input
          type="text"
          class="form-control"
          id="projectName1"
          formControlName="1.projectName"
          required
        />
        <!-- Validation for Project Name -->
        <div
          *ngIf="
            projects.controls[1]?.get('projectName')?.invalid &&
            projects.controls[1]?.get('projectName')?.touched
          "
          class="text-danger"
        >
          Project Name is required.
        </div>
      </div>
      <div class="form-group">
        <!-- Project Description -->
        <label for="projectDescription1">Project Description 2:</label>
        <input
          type="text"
          class="form-control"
          id="projectDescription1"
          formControlName="1.projectDescription"
          required
        />
        <!-- Validation for Project Description -->
        <div
          *ngIf="
            projects.controls[1]?.get('projectDescription')?.invalid &&
            projects.controls[1]?.get('projectDescription')?.touched
          "
          class="text-danger"
        >
          Project Description is required.
        </div>
      </div>
      <div class="form-group">
        <!-- Tech stack used -->
        <label for="techStack1">Tech stack used 2:</label>
        <input
          type="text"
          class="form-control"
          id="techStack1"
          formControlName="1.techStack"
          required
        />
        <!-- Validation for Tech stack used -->
        <div
          *ngIf="
            projects.controls[1]?.get('techStack')?.invalid &&
            projects.controls[1]?.get('techStack')?.touched
          "
          class="text-danger"
        >
          Tech stack used is required.
        </div>
      </div>
      <div class="form-group">
        <!-- Github Link -->
        <label for="githubLink1">Github Link 2:</label>
        <input
          type="text"
          class="form-control"
          id="githubLink1"
          formControlName="1.githubLink"
          required
        />
        <!-- Validation for Github Link -->
        <div
          *ngIf="
            projects.controls[1]?.get('githubLink')?.invalid &&
            projects.controls[1]?.get('githubLink')?.touched
          "
          class="text-danger"
        >
          Github Link is required.
        </div>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <button
    type="submit"
    class="btn btn-primary flex justify-center items-center w-full md:w-[30%] md:mx-auto my-8"
    [disabled]="resumeForm.invalid"
  >
    Generate Resume
  </button>
</form>
